*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 7%;

    background:rgba(15,23,42,.75);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:999;
    transition:.35s;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;

    color:white;
    font-size:28px;
    font-weight:700;
    letter-spacing:.4px;
}

.logo svg{
    font-size:34px;
    color:#8B5CF6;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:40px;
    list-style:none;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    position:relative;
    text-decoration:none;
    color:#E5E7EB;
    font-size:16px;
    font-weight:500;
    transition:.3s;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;

    width:0%;
    height:2px;

    background:#8B5CF6;
    transition:.35s;
}

.nav-links a:hover{
    color:white;
}

.nav-links a:hover::after{
    width:100%;
}

.buttons{
    display:flex;
    align-items:center;
    gap:15px;
}

.login-btn{
    text-decoration:none;

    color:white;

    padding:11px 22px;

    border-radius:12px;

    border:1px solid rgba(255,255,255,.2);

    background:rgba(255,255,255,.05);

    transition:.35s;
}

.login-btn:hover{
    background:rgba(255,255,255,.12);
    transform:translateY(-2px);
}

.signup-btn{
    text-decoration:none;

    background:linear-gradient(135deg,#8B5CF6,#6D28D9);

    color:white;

    padding:11px 24px;

    border-radius:12px;

    font-weight:600;

    box-shadow:0 10px 25px rgba(124,58,237,.35);

    transition:.35s;
}

.signup-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 16px 35px rgba(124,58,237,.45);
}

.menu-icon{
    display:none;
    color:white;
    font-size:34px;
    cursor:pointer;
}

@media(max-width:900px){

.buttons{
display:none;
}

.menu-icon{
display:block;
}

.nav-links{

display:none;

}

.nav-links.active{

display:flex;

position:absolute;

top:80px;
left:0;

width:100%;

padding:30px 0;

background:#0F172A;

flex-direction:column;

gap:25px;

border-top:1px solid rgba(255,255,255,.08);

}

}