.sidebar {
    width: 260px;
    min-height: 100vh;
    background: #111827;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;
    border-right: 1px solid #1f2937;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 35px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: linear-gradient(135deg,#2563eb,#7c3aed);
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}

.logo h2{
    margin:0;
    font-size:20px;
}

.logo span{
    color:#94a3b8;
    font-size:13px;
}

nav{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.nav-item{
    text-decoration:none;
    color:#d1d5db;
    padding:12px 15px;
    border-radius:10px;
    transition:.25s;
}

.nav-item:hover{
    background:#1f2937;
}

.nav-item.active{
    background:#2563eb;
    color:white;
}

.logout-btn{
    margin-top:30px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#dc2626;
    color:white;
    cursor:pointer;
}