.forgot-container{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:#F8FAFC;
padding:30px;
}

.forgot-card{
background:white;
padding:40px;
width:420px;
border-radius:18px;
box-shadow:0 15px 40px rgba(0,0,0,.1);
text-align:center;
}

.forgot-card h2{
margin-bottom:15px;
}

.forgot-card p{
color:#666;
margin-bottom:25px;
line-height:1.6;
}

.forgot-card input{
width:100%;
padding:14px;
border:1px solid #ddd;
border-radius:8px;
margin-bottom:20px;
font-size:16px;
}

.forgot-card button{
width:100%;
padding:14px;
border:none;
background:#7C3AED;
color:white;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition:.3s;
}

.forgot-card button:hover{
background:#6D28D9;
}

.message{
margin-top:20px;
color:green;
font-weight:bold;
}

.back-login{
display:block;
margin-top:25px;
text-decoration:none;
color:#7C3AED;
font-weight:600;
}